---
---

@import "{{ site.theme }}";

@media print{
	header nav, footer{
		display: none;
	}

	th{
		vertical-align: top;
	}

	#tech-skills{
		page-break-before: always;
	}

	h1 {
		font-size: 24pt;
	}

	h2 {
		font-size: 14pt;
		margin-top: 25px;
	}

	aside h2 {
		font-size: 18pt;
	}
}
